body {
	font-family: 'Hind', sans-serif;
	animation-name: rave-party;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
h1,h2,h3,h4 {
	text-align: center;
}

#soulja-boy {
	width: 0;
	height: 0;
}

@keyframes rave-party {
	0%{
		backgroundcolor: red;
	}
	25%{
		background-color: blue
	}
	50%{
		background-color: orange;
	}
	75%{
		background-color: green;
	}
	100%{
		background-color: yellow;
	}
}